.search {
  width: 100%;
  padding: 2rem;
}
.search h1 {
  text-align: center;
}
.content {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgba(90, 121, 127, 0.441);
  border-radius: 10px;
}
.location,
.date,
.price,
.type {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.Search_buttons {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}
